<article class="card" data-build-choice-summary>
  <h3 data-build-choice-title></h3>
  <p data-build-choice-copy></p>
</article>
<div class="grid3" data-build-choice-options></div>
<div data-build-choice-requirements></div>
<template data-build-choice-option-template>
  <button data-place><span data-build-choice-label></span><br><span class="tiny" data-build-choice-detail></span></button>
</template>
<template data-build-choice-requirement-template>
  <div class="requirement locked"><span data-build-choice-requirement-label></span>: <span data-build-choice-requirement-reason></span></div>
</template>
