{{SCORE_CARD}}
<article class="card">
  <h3>COLONY REMAINS ACTIVE</h3>
  <p>You can renew the mining charter for another {{RENEWAL_YEARS}} years, open another colony contract while this world remains in your portfolio, continue on holdover, or attempt to return the colony.</p>
  <div class="effect warn">The corporation remains paused until this contract decision is resolved.</div>
</article>
<div class="grid2" style="margin-top:7px">
  <button data-renew>RENEW {{RENEWAL_YEARS}} YEARS<br><span class="tiny">{{RENEWAL_FEE}}</span></button>
  <button data-new>OPEN NEW COLONY</button>
  <button data-hold>CONTINUE ON HOLDOVER</button>
  <button data-end>END / RETURN COLONY</button>
</div>
<button class="action" data-colonies>VIEW ALL COLONIES</button>
