<div data-help-resource-catalog></div>
<template data-help-resource-category-template>
  <div class="help-resource-category">
    <h4 data-help-resource-category-name></h4>
    <div class="help-resource-table" data-help-resource-rows></div>
  </div>
</template>
<template data-help-resource-row-template>
  <div class="help-resource-row">
    <strong data-help-resource-name></strong>
    <span data-help-resource-rarity></span>
    <span data-help-resource-kind></span>
    <span data-help-resource-mining></span>
    <span data-help-resource-price></span>
    <small data-help-resource-unlock></small>
  </div>
</template>
